/*
  Good!
  테이블에 스타일을 적절하게 잘 입혀주셨습니다.
  
  디자인 가이드와 조금 다르게 만들어진게 아쉽네요.
  width: 100%; 와 box-sizing: border-box;를 한번 사용해보시면 좋을 것 같습니다
*/
.baby_size {
  border: 1px solid #e4e4e4;
  background-color: #fbfbfb;
  font-size: 12px;
  color: #555;
  border-collapse: collapse;
  width: 100%;
  height: 210px;
}
.sz{
  margin: 40px;
}
/*
  어느 테이블의 th인지 지정해주시는 게 좋습니다.

  태그 선택자
  id 선택자

  class 
*/
th {
  border: 1px solid #e4e4e4;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 30px;
}

/* 
  이름을 봤을때 이것의 역할이 무엇인지가 드러나야 합니다

  같이 개발하는 다른 개발자
  후배들을 위해서나
  
*/
.d {
  border: 1px solid #e4e4e4;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;

  text-align: center;
  background-color: white;
}
.baby {
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}

/*
  같은 스타일이 반복되고 있습니다.
  같은 class를 주고 해당 클래스에 스타일을 줬으면 중복 코드가 없었겠죠
*/
.header {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  background-color: white;
  border: 1px solid #e4e4e4;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

/* 마찬가지입니다 */
.size {
  font-size: 12px;
  border: 1px solid #e4e4e4;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-weight: bold;
}
.tall {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #e4e4e4;
}
.weight {
  font-size: 12px;
  text-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  background-color: white;
  font-weight: bold;
  border: 1px solid #e4e4e4;
}
.SML {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 100px;
  background-color:#fbfbfb;
}
.X-Large {
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  background-color: #fbfbfb;
}
.id {
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  background-color: #fbfbfb;
}
.refund {
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}
.search {
  font-size: 12px;
  color: #555;
  width: 910px;
  height: 210px;
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
}
td {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.b1 {
  border-bottom: 1px solid #e4e4e4;
  background-color: #fbfbfb;
  height: 30px;
}
.sum {
  border-top: 1px solid #a5a5a5;
  font-weight: bold;
  height: 30px;
}
.b2 {
  font-weight: bold;
  border-top: 1px solid #a5a5a5;
}

/*
  대부분 
*/
.form-font {
  font-weight: bold;
  font-size: 14px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  color: #000;
}

.signup {
  /* flex 속성을 사용하지 않아도 됩니다 */
  border: 1px #e4e4e4 solid;
  background-color: #fbfbfb;
  margin: 10px 30px 30px;
}

.input-box {
  font-size: 12px;
  margin: 10px 15px;
  height: 30px;
  border: 1px #e4e4e4 solid;
  width: 100%;
}

.Date-Data {
  display: flex;
}

.Date-Data select {
  border: 1px #e4e4e4 solid;
  height: 30px;
  flex-grow: 1;
  margin: 15px 5px 10px 15px;
}

.Gender-Data {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 12px;
  color: #000;
  margin-left: 15px;
  margin-top: 5px;
}

.box-example {
  border: 1px black solid;
}

.CallNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Call-button {
  font-size: 12px;
  color: #fff;
  height: 35px;
  width: 200px;
  margin-top: 10px;
  margin-right: 15px;
  border: 1px #08a600 solid;
  background-color: #4ec53d;
}

.Call-box {
  display: flex;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
  height: 35px;
  border: 1px #e4e4e4 solid;
  flex-grow: 6;
}

.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  font-size: 12px;
  color: #000;
  width: 850px;
}

.bigText {
  display: flex;
  flex-direction: column;
}
#welcome {
  margin: 15px;
}

.sign-Up {
  height: 35px;
  margin: 0px 15px 15px 15px;
  border: 1px #08a600 solid;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
}
#form-Style {
  font-weight: bold;
  font-size: 14px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  color: #000;
}
#boxbox {
  width: 950px;
  height: 250px;
  margin: 30px;
  border: 1px solid #e4e4e4;
  /* padding 잘 주셨습니다 */
  padding: 20px;
}
#boxboxbox {
  width: 200px;
  height: 300px;
  margin: 30px;
  border: 1px solid #e4e4e4;
  padding: 20px;
}
#boxboxboxbox {
  width: 950px;
  height: 200px;
  margin: 20px;
  border: 1px solid #e4e4e4;
  padding: 20px;
}
.form-small-header{
  font-weight: bold;
  font-size: 14px;
  margin-top: 0.7cm;
  color: #000;
}

.form-font{
  font-weight: bold;
  font-size: 14px;
  margin-top: 0.4cm;
  margin-bottom: 0.3cm;
  color: #000;
}

.card-title h2 {
  border-bottom: #fff 0px;
}

.form-small-header h3 {
  margin-left: 30px;
  margin-bottom: 10px;
}

.signup{
  display: flex;
  flex-direction: column;
  border: 1px #e4e4e4 solid;
  background-color: #fbfbfb;
  margin: 15px 30px 30px;
  padding: 15px;
}

.input-box{
  width: 100%;
  font-size: 12px;
  height: 30px;
  border: 1px #e4e4e4 solid;
  padding: 8px;
}

.Date-Data{
  display: flex;
}

.Date-Data select{
  border: 1px #e4e4e4 solid;
  height: 30px;
  flex-grow: 1;
  margin-right: 3px;
}

.Gender-Data{
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 12px;
  color: #000;
}

.CallNumber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.Call-button{
  font-size: 12px;
  color: #fff;
  height: 35px;
  width: 200px;
  margin-top: 5px;
  border: 1px #08a600 solid;
  background-color: #4ec53d;
}

.Call-box{
  display: flex;
  font-size: 12px;
  margin-top: 5px;
  height: 35px;
  border: 1px #e4e4e4 solid;
  flex-grow: 6;
  padding: 10px;
}

.CallNumber .Call-box {
  margin-right: 15px;
}

.checkBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: #000;
  width: 850px;
}

.bigText{
  display: flex;
  flex-direction: column;
}
.welcome{
  margin-bottom: 15px;
  border: 1px #e4e4e4 solid;
}

.sign-Up{
  height: 35px;
  border: 1px #08a600 solid;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
}
#form-Style2 {
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  color: #000;
}
#form-Style3 {
  font-weight: bold;
  font-size: 14px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  display: inline;
  color: #000;
}
#form-Style33 {
  font-weight: bold;
  font-size: 12px;
}
#form-Style4 {
  font-weight: bold;
  font-size: 12px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  display: inline;
}
#form-Style5 {
  font-size: 12px;
  text-indent: 0.4cm;
  margin-top: 0.2cm;
  color: #000;
}
li {
  font-size: 12px;
}
#form-Style8 {
  font-weight: bold;
  font-size: 14px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  border: 1px solid #000;
  color: #000;
}
.list-font {
  font-weight: bold;
  font-size: 14px;
  text-indent: 0.4cm;
  margin-top: 0.4cm;
  color: #000;
}

#image-80 {
  margin-right: 15px;
}

.news-box {
  display: flex;
  flex-direction: column;
  border: 1px #e4e4e4 solid;
  margin: 20px;
  padding: 20px;
}

#news-title {
  font-weight: bold;
  font-size: 14px;
  color: #00c;
  text-decoration: underline;
  margin-top: 20px;
}

#news-content {
  color: #000;
  font-size: 12px;
  line-height: 1.6;
  margin-top: 5px;
}

hr {
  margin: 20px;
}

.webtoon-box {
  display: flex;
  flex-direction: column;
  border: 1px #e4e4e4 solid;
  margin: 15px;
  padding: 20px;
}

.webtoon-in-box {
  display: flex;
  flex-direction: row;
}

.webtoon-image {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-bottom: 20px;
  position: static;
  text-decoration: none;
}

#webtoon-link {
  margin-top: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#webtoon-link:hover {
  text-decoration: underline;
}

#webtoon-description {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  margin-top: 6px;
}

#cut-toon {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  width: 20px;
  border: 1px #71b036;
  background: #80c83d;
  font-size: 10px;
  color: #fff;
}

#smart-toon {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  width: 20px;
  border: 1px #df4e28;
  background: #ec5336;
  padding: 3px;
  font-size: 10px;
  color: #fff;
}
